@import '../../universal-files/universal';

h2 {
    color: $highlightColor;
    font-size: 18px;
}
.section1, .section2 {
    text-shadow: $mainTextShadow;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.section1 {
    padding-top: 40px;
}

// FIRST CAROUSEL: AUTO SLIDE

.carousel1 {
    height: 220px;
    width: 400px;
    display:inline-flex; // importat: if you don't set this, images might not be centered
    box-shadow: $mainBoxShadow;
    overflow: hidden;
}

.slide-carousel1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.img-crousel1 {
    height: 220px;
    width: 400px;
    object-fit: cover;
}

// SECOND CAROUSEL: CLICK TO SLIDE

.carousel2 {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}

.gallery-wrapper {
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}



.arrow-left, .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 35px;
    line-height: 250px;
    width: 45px;
    text-align: center;
    color: $highlightColor;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right {
    position: absolute;
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 1;
}

.img-crousel2 {
    height: 250px;
    width: 250px;
    object-fit: cover;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.current-img {
    opacity: 1;
}

// THIRD CAROUSEL: AUTO AND CLICK

.section3 {
    text-shadow: $mainTextShadow;
    height: 60vh;
    display: grid;
    grid-template-rows: 1fr 45vh;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas: ". title ." 
                          "leftbtn slider rightbtn";
    justify-items: center;
    align-items: center;
}


.h2-sec3 {
    grid-area: title;
    align-self: end;
}

.carousel3 {
    grid-area: slider;
    height: 220px;
    width: 400px;
    display:inline-flex; // importat: if you don't set this, images might not be centered
    box-shadow: $mainBoxShadow;
    overflow: hidden;
}

.btn3 {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: $lightMainColor;
    background-color: $transparentDarkBG;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn3:hover {
    color: $highlightColor;
    background-color: $transparentHoverBG;
    cursor: pointer;
}

.btnleft {
    grid-area: leftbtn;
    justify-self: end;
}

.btnright {
    grid-area: rightbtn;
    justify-self: start;
}


.slide-carousel3 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.img-crousel3 {
    height: 220px;
    width: 400px;
    object-fit: cover;
}