@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(325deg, rgb(44, 4, 80) 0%, rgb(125, 2, 57) 50%, rgb(180, 74, 0) 100%);
}

footer {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(253, 228, 235);
}

.footerlink {
  color: rgb(253, 228, 235);
}

.footerlink:hover {
  color: rgb(255, 153, 182);
}

h2 {
  color: rgb(255, 153, 182);
  font-size: 18px;
}

.section1, .section2 {
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.section1 {
  padding-top: 40px;
}

.carousel1 {
  height: 220px;
  width: 400px;
  display: inline-flex;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: hidden;
}

.slide-carousel1 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.img-crousel1 {
  height: 220px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel2 {
  position: relative;
  padding: 15px;
  max-width: 640px;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.arrow-left, .arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 35px;
  line-height: 250px;
  width: 45px;
  text-align: center;
  color: rgb(255, 153, 182);
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  transition: all 600ms ease-in-out;
}

.arrow-right {
  position: absolute;
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover, .arrow-right:hover {
  opacity: 1;
}

.img-crousel2 {
  height: 250px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
  opacity: 0.6;
  transition: all 600ms ease-in-out;
}

.current-img {
  opacity: 1;
}

.section3 {
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 60vh;
  display: grid;
  grid-template-rows: 1fr 45vh;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-areas: ". title ." "leftbtn slider rightbtn";
  justify-items: center;
  align-items: center;
}

.h2-sec3 {
  grid-area: title;
  align-self: end;
}

.carousel3 {
  grid-area: slider;
  height: 220px;
  width: 400px;
  display: inline-flex;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: hidden;
}

.btn3 {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
  color: rgb(253, 228, 235);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn3:hover {
  color: rgb(255, 153, 182);
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.btnleft {
  grid-area: leftbtn;
  justify-self: end;
}

.btnright {
  grid-area: rightbtn;
  justify-self: start;
}

.slide-carousel3 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.img-crousel3 {
  height: 220px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */